<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lortexgames.pokman_final"
    android:versionCode="1000"
    android:versionName="0.8.0"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true"></uses-feature>

	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Pokman"
        android:theme="@style/themeSelector" 
        android:name="com.lortexgames.pokman_final.AppInterface">
        
        <meta-data android:name="GIFTIZ_PARTNER_KEY" android:value="e30bc4a5-eb83-4400-84e6-ced713d05d2e"/>
        <meta-data android:name="SHOW_GIFTIZ_LOG" android:value="false" /> 
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		<activity android:name="com.purplebrain.giftiz.sdk.GiftizWebViewActivity" />
        
        <activity android:name="com.lortexgames.pokman_final.activities.MenuActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lortexgames.pokman_final.activities.GameActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.TutorialActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.OptionsActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.EndGameActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.CreditActivitya"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.HighscoresActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.LobbyActivity2"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.MultiplayerActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/themeSelector"></activity>
        <activity android:name="com.lortexgames.pokman_final.activities.StopBluetooth"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true" ></activity>
    </application>

</manifest>